<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0">
    <!-- Summary -->
    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">All</div>
            <div class="ml-2 -mt-2 -mr-3">
                <button mat-icon-button [matMenuTriggerFor]="businessMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #businessMenu="matMenu">
                    <button mat-menu-item>All</button>
                    <button mat-menu-item>Active</button>
                    <button mat-menu-item>Inactive</button>
                </mat-menu>
            </div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-500">0</div>
            <div class="text-lg font-medium text-blue-600 dark:text-blue-500">Business</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">Available:</div>
                <div class="ml-1.5 text-lg font-semibold">0</div>
            </div>
        </div>
    </div>
    <!-- Overdue -->
    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">All</div>
            <div class="ml-2 -mt-2 -mr-3">
                <button mat-icon-button [matMenuTriggerFor]="propertiesMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #propertiesMenu="matMenu">
                    <button mat-menu-item>All</button>
                    <button mat-menu-item>Active</button>
                    <button mat-menu-item>Inactive</button>
                </mat-menu>
            </div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-red-500">0</div>
            <div class="text-lg font-medium text-red-600 dark:text-red-500">Properties</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">Available</div>
                <div class="ml-1.5 text-lg font-semibold">0</div>
            </div>
        </div>
    </div>
    <!-- Issues -->
    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">All</div>
            <div class="ml-2 -mt-2 -mr-3">
                <button mat-icon-button [matMenuTriggerFor]="usersMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #usersMenu="matMenu">
                    <button mat-menu-item>All</button>
                    <button mat-menu-item>Active</button>
                    <button mat-menu-item>Inactive</button>
                </mat-menu>
            </div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-amber-500">1</div>
            <div class="text-lg font-medium text-amber-600 dark:text-amber-500">Users</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">Employees:</div>
                <div class="ml-1.5 text-lg font-semibold">1</div>
            </div>
        </div>
    </div>
    <!-- Features -->
    <div class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">All</div>
            <div class="ml-2 -mt-2 -mr-3">
                <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                </button>
                <mat-menu #issuesMenu="matMenu">
                    <button mat-menu-item>All</button>
                    <button mat-menu-item>Completed</button>
                    <button mat-menu-item>In Progress</button>
                    <button mat-menu-item>Pending</button>
                </mat-menu>
            </div>
        </div>
        <div class="flex flex-col items-center mt-2">
            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-green-500">0</div>
            <div class="text-lg font-medium text-green-600 dark:text-green-500">Maintenances</div>
            <div class="flex items-baseline justify-center w-full mt-5 text-secondary">
                <div class="text-md font-medium truncate">Completed:</div>
                <div class="ml-1.5 text-lg font-semibold">0</div>
            </div>
        </div>
    </div>
    <!-- Github issues summary -->
    <div class="sm:col-span-2 md:col-span-4 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Github Issues Summary</div>
            <div class="mt-3 sm:mt-0 sm:ml-2">
                <mat-button-toggle-group value="this-week" #githubIssuesWeekSelector="matButtonToggleGroup">
                    <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                    <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 grid-flow-row gap-6 w-full mt-8 sm:mt-4">
            <!-- New vs. Closed -->
            <div class="flex flex-col flex-auto">
                <div class="font-medium text-secondary">New vs. Closed</div>
                <div class="flex flex-col flex-auto" *ngIf="chartGithubIssues.labels">
                    <apx-chart class="flex-auto w-full h-80" [chart]="chartGithubIssues.chart"
                        [colors]="chartGithubIssues.colors" [dataLabels]="chartGithubIssues.dataLabels"
                        [grid]="chartGithubIssues.grid" [labels]="chartGithubIssues.labels"
                        [legend]="chartGithubIssues.legend" [plotOptions]="chartGithubIssues.plotOptions"
                        [series]="chartGithubIssues.series[githubIssuesWeekSelector.value]"
                        [states]="chartGithubIssues.states" [stroke]="chartGithubIssues.stroke"
                        [tooltip]="chartGithubIssues.tooltip" [xaxis]="chartGithubIssues.xaxis"
                        [yaxis]="chartGithubIssues.yaxis"></apx-chart>
                </div>
            </div>
            <!-- Overview -->
            <div class="flex flex-col">
                <div class="font-medium text-secondary">Overview</div>
                <div class="flex-auto grid grid-cols-4 gap-4 mt-6">
                    <!-- New issues -->
                    <div
                        class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-indigo-50 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400">
                        <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                            0
                        </div>
                        <div class="mt-1 text-sm sm:text-lg font-medium">New Issues</div>
                    </div>
                    <!-- Closed -->
                    <div
                        class="col-span-2 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-green-50 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500">
                        <div class="text-5xl sm:text-7xl font-semibold leading-none tracking-tight">
                            0
                        </div>
                        <div class="mt-1 text-sm sm:text-lg font-medium">Closed</div>
                    </div>
                    <!-- Fixed -->
                    <div
                        class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            0
                        </div>
                        <div class="mt-1 text-sm font-medium text-center">Fixed</div>
                    </div>
                    <!-- Won't fix -->
                    <div
                        class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            0
                        </div>
                        <div class="mt-1 text-sm font-medium text-center">Won't Fix</div>
                    </div>
                    <!-- Re-opened -->
                    <div
                        class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            0
                        </div>
                        <div class="mt-1 text-sm font-medium text-center">Re-opened</div>
                    </div>
                    <!-- Needs triage -->
                    <div
                        class="col-span-2 sm:col-span-1 flex flex-col items-center justify-center py-8 px-1 rounded-2xl bg-gray-100 text-secondary dark:bg-white dark:bg-opacity-5">
                        <div class="text-5xl font-semibold leading-none tracking-tight">
                            0
                        </div>
                        <div class="mt-1 text-sm font-medium text-center">Needs Triage</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Task distribution -->
    <div
        class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Task Distribution</div>
            <div class="mt-3 sm:mt-0 sm:ml-2">
                <mat-button-toggle-group value="this-week" #taskDistributionWeekSelector="matButtonToggleGroup">
                    <mat-button-toggle value="last-week">Last Week</mat-button-toggle>
                    <mat-button-toggle value="this-week">This Week</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="flex flex-col flex-auto mt-6" *ngIf="chartTaskDistribution.labels">
            <apx-chart class="flex-auto w-full h-80" [chart]="chartTaskDistribution.chart"
                [labels]="chartTaskDistribution.labels" [legend]="chartTaskDistribution.legend"
                [plotOptions]="chartTaskDistribution.plotOptions"
                [series]="chartTaskDistribution.series[taskDistributionWeekSelector.value]"
                [states]="chartTaskDistribution.states" [stroke]="chartTaskDistribution.stroke"
                [theme]="chartTaskDistribution.theme" [tooltip]="chartTaskDistribution.tooltip"
                [yaxis]="chartTaskDistribution.yaxis"></apx-chart>
        </div>
        <div class="grid grid-cols-2 border-t divide-x -m-6 mt-4 bg-gray-50 dark:bg-transparent">
            <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                <div class="text-5xl font-semibold leading-none tracking-tighter">
                    0
                </div>
                <div class="mt-1 text-center text-secondary">New tasks</div>
            </div>
            <div class="flex flex-col items-center justify-center p-6 sm:p-8">
                <div class="text-5xl font-semibold leading-none tracking-tighter">
                    0
                </div>
                <div class="mt-1 text-center text-secondary">Completed tasks</div>
            </div>
        </div>
    </div>
    <!-- Schedule -->
    <div
        class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
        <div class="flex flex-col sm:flex-row items-start justify-between">
            <div class="text-lg font-medium tracking-tight leading-6 truncate">Schedule</div>
            <div class="mt-3 sm:mt-0 sm:ml-2">
                <mat-button-toggle-group value="today" #scheduleDaySelector="matButtonToggleGroup">
                    <mat-button-toggle value="today">Today</mat-button-toggle>
                    <mat-button-toggle value="tomorrow">Tomorrow</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div class="flex flex-col mt-2 divide-y" *ngIf="scheduleItem">
            <ng-container *ngFor="let scheduleItem of data.schedule[scheduleDaySelector.value]; trackBy: trackByFn">
                <div class="flex flex-row items-center justify-between py-4 px-0.5">
                    <div class="flex flex-col">
                        <div class="font-medium">{{scheduleItem.title}}</div>
                        <div
                            class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                            <ng-container *ngIf="scheduleItem.time">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">{{scheduleItem.time}}</div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="scheduleItem.location">
                                <div class="flex items-center">
                                    <mat-icon class="icon-size-5 text-hint"
                                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                    <div class="ml-1.5 text-md text-secondary">{{scheduleItem.location}}</div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <button mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    </button>
                </div>
            </ng-container>
        </div>
    </div>
</div>