<!-- <mat-form-field appearance="" class="w-full">
    <mat-label>Property Location</mat-label>
    <input matInput (keyup)="getInputPlace($event)" [value]="locationInputValue" placeholder="Type the location here">
</mat-form-field> -->
<!-- <mat-form-field appearance="" class="w-full mapinput"> -->
<label class="mb-2 w-full">Property Location
  <input #locationInput (keyup)="getInputPlace($event)" [value]="locationInputValue" id="location"
    placeholder="Type the location here">
</label>
<br/><br/>
<!-- </mat-form-field> -->

<google-map class="w-full" height="350px" width="100%" [center]="center" [zoom]="zoom">
  <map-marker #markerElem *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
    [title]="marker.title" [options]="marker.options">
  </map-marker>
</google-map>