#location {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: #fff;
    color: #444 !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}