<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand bold-800" href="#">PMG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Properties</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
            </ul>
            <div>
                <div class="nav-item position-relative" *ngIf="loggedIn" dropdown>
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" aria-controls="dropdown-basic" dropdownToggle>
                        Welcome {{this.model.login}}  
                    </a>
                    <ul id="dropdown-basic mt-2" class="dropdown-menu" *dropdownMenu>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" (click)="logout()">logout</a></li>
                    </ul>
                </div>
                <form *ngIf="!loggedIn" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()">
                    <input [(ngModel)]="model.login" name="login" class="form-control me-2" placeholder="username" type="text" required="">
                    <input [(ngModel)]="model.password" name="password" class="form-control me-2" placeholder="password" type="password" required="">
                    <button class="btn btn-outline-success" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</nav>